@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins',sans-serif !important;
  background-color: #fff !important;
  position: relative;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
  font-family: 'Poppins',sans-serif !important;
}

nav.navbar .navbar-nav .nav-link {
  font-weight: 600 !important;
}

.form-control.search-input:focus,
.form-control.search-input:active,
.form-control.search-input:hover{
  box-shadow: none;
}

@media (min-width: 1200px) {
  .navbar>.container,
  .container{
    max-width: 1100px !important;
  }
}

.circlebg1 {
  position: absolute;
  left: 0;
  top: -20px;
  z-index: -1;
}
.circlebg2 {
  position: absolute;
  left: 28%;
  top: 10px;
  z-index: -1;
  margin: auto;
  text-align: center;
}
.circlebg3 {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: -1;
}

/* Custom CSS for Swiper */
.swiper .swiper-button-prev,
.swiper .swiper-button-next{
  z-index: 10;
  background-color: #0E294D;
  border-radius: 10px;
  width: 45px;
  height: 45px;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after{
  font-size: 14px;
  color: #fff;
}